*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Ubuntu', sans-serif;
}

.container{
    width: 80%;
    margin: auto;
    margin-top: 50px;
    /* background-color: aliceblue; */
}


.container .title{
    width: 100%;
    padding: 20px;
    background-color: rgb(54, 54, 54);
    color: aliceblue;
}

.container .add{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container .add input[type=text]{
    height: 35px;
    width: 300px;
    padding-left: 10px;
    font-size: 17px;
    border: 1px solid rgb(179, 175, 175);
    border-radius: 2px;
    outline: none;
}

.container .add input[type=submit]{
    width: 60px;
    height: 35px;
    font-size: 17px;
    border: none;
    background-color: rgb(10, 106, 250);
    color: aliceblue;
    border-radius: 2px;

}


.todos{
    width: 60%;
    margin: auto;
    margin-top: 30px;


}

.todos .todo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: rgb(236, 213, 138);
    color: rgb(141, 109, 5);
    border: 0.5px solid rgb(189, 197, 150);
    border-top:none ;
    border-radius: 2px;
}

.todos .todo:first-child{
    border: 0.5px solid rgb(189, 197, 150);
}

.todos .todo.done{
    background-color: rgb(158, 236, 138);
    color: rgb(5, 141, 12);
}


.todos .todo p{
    font-size: 17px;
}

.todos a:first-child button{
    background-color: rgb(22, 84, 252);
    color: white;
    width: 50px;
    height: 25px;
    border: none;
}

.todos a:last-child button{
    background-color: rgb(255, 0, 0);
    color: white;
    height: 25px;
    width: 25px;
    border: none;
}